@import "compass";

/**
 * $ieFilter: true, should only be used when no border-radius on the same element
 */
@mixin vertical-gradient($startColor, $endColor, $ieFilter: false) {
	background-color: mix($startColor,$endColor);
	@if $ieFilter == true {
	    // NOTE: filter-gradient will break border-radius on IE, if that's used on the same element
		@include filter-gradient($startColor, $endColor);
	}
	@include background(linear-gradient(top, $startColor, $endColor));
}