@import "compass";
@import "_mixins.scss";

._late {
	color: #c00;
	//@include text-shadow(0 1px 0 #eee);
}

.ui-body-a .ui-link {
	// original: #2489CE
	color: darken(#2489CE, 5%);
}

#resultsList {
	table {
		tr {
			vertical-align: top;
			line-height: 16px;
		}
		td {
			padding-left: 3px;
		}
		.train {
			line-height: 11px;
			font-weight: normal;
			font-size: 12px;
		}

		.late {
			@extend ._late;
			padding-left: 5px;
		}
	}
}

#main {
	input.ui-input-text, .ui-input-datebox {
		$startColor: #ffffff;
		$endColor: #f1f1f1;
		background-color: mix($startColor,$endColor) !important;
		@include background(linear-gradient(top, $startColor, $endColor) !important);
	}
}

#main, #city_selection_dialog {
	.ui-header .ui-title {
		margin-left: 20%;
		margin-right: 20%;
	}
}

#date {
	width: 120px;
	border: 0 !important;
}
.ui-input-datebox {
	width: 140px !important;
}

#time {
	width: 60px;
}

#resultsTitle {
	margin-left: 35px;
	margin-right: 0;
}

/*
#resultsFooter {
	.ui-btn-inner {
		.ui-btn-text {
			font-size: 11px;
		}
	}
}
*/
#previous_connections {
	float: left;
}
#next_connections {
	float: right;
}

#trainDetailsList {
	.trainInfo {
		.ui-li-aside {

		}
		.leftSide {
			//float: left;
		}
		.late {
			@extend ._late;
			margin-bottom: 10px;
			display: inline-block;
		}
	}
	.trainCompleted {
		opacity: 0.5;
	}
}



#kartta, #mapContent {
	overflow: hidden;
}
#kartta, #mapContent, #mapCanvas {
	width: 100%;
	height: 100%;
	padding: 0;
}

#mapCanvas {
	.stationLabel, .trainLabel {
		white-space: nowrap;
		font-size: 12px;
		text-align: center;
		@include single-box-shadow;
		@include border-radius(6px);
		padding: 3px;
		color: white;
		@include text-shadow(0 1px 0 rgba(black, 0.5));
	}
	.stationLabel {
		background: #73a631;
	}

	.trainLabel {
		background: #FF7367;
		z-index: 999999;
	}
}

.ui-datebox-gridrow {
	.ui-datebox-griddate {
		cursor: pointer;
		&:active {
			$startColor: rgba(#ffffff, 0.5);
			$endColor: rgba(#f1f1f1, 0.5);
			background-color: mix($startColor,$endColor) !important;
			@include background(linear-gradient(top, $startColor, $endColor) !important);
		}
	}
}