<!doctype html>
<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>{{appTitle}}</title>
	<meta name="description" content="Wat, missä juna?">

	<!-- Mobile viewport optimization h5bp.com/ad -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta property="og:title" content="{{appTitle}}"/>
	<meta property="og:description" content="Wat, missä juna?"/>
	<meta property="og:image" content="{{baseUrl}}/img/logo_114.png" />

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/logo_114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/logo_72.png">

	<link rel="apple-touch-icon-precomposed" href="/img/logo_57.png">
	<link rel="shortcut icon" href="/img/logo_57.png">

	<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
	<meta http-equiv="cleartype" content="on">

	<!-- more tags for your 'head' to consider h5bp.com/d/head-Tips -->

	<!-- Main Stylesheet -->
	{{{cssAssets}}

	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="js/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript">trainApp = window.trainApp || {};</script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC5OqXKdh0RSP0SVfpAldgRT26f3JQbVdw&sensor=true&language=fi"></script>
	{{{jsAssets}}}
</head>

<body>
	{{{body}}}

	<!-- Debugger - remove for production -->
	<!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32356334-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>